# Python
__pycache__/
*.pyc
.venv/
workspace.code-workspace

# Node
node_modules/
.next/
dist/
build/

# Env & Secrets 
.env
.env.local
.env.*.local
*.db
*.sqlite

# ML & Data
ml/models/
ml/data/
ml/runs/
ml/**/*.csv
ml/**/*.tsv
ml/**/*.log
lightning_logs/
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride
dummy_cv.txt
backend/dummy_cv.pdf
